<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=kentongazureblobpractice;AccountKey=Q57E+tZyPcP9xgL6Zo5alMYgpdHa0TeefNLxrYwbCaId34RLiwEMiMCAj5s58o6Qrs9pfTubWGi+vnwStWBFZQ==" />
  </appSettings>

</configuration>